<div class="pm-section pm-section-odd pm-section-hero">
  <div class="section-container">
    <div class="pm-body">
      <div class="logo-container">
        <img src="assets/images/color-based/blue/pmv-logo.svg" alt="">
      </div>
      <div class="pm-title">Collaborative, secure and easy to use project management app</div>
      <div class="action-container">
        <button class="get-started-btn" (click)="signup()">Get Started</button>
      </div>
    </div>
    <div class="pm-divider d-md-none d-sm-none"></div>
    <div class="pm-media">
      <img src="assets/images/screenshots/creative-team-cuate.svg" alt="">
    </div>
  </div>
</div>

<div class="pm-section pm-section-even pm-section-focus-view">
  <div class="section-container">
    <div class="pm-body">
      <div class="pm-title">Focus on work in hand without losing the context</div>
      <div class="pm-subtitle">Focus view provides isolated mode to work on entities while project's requirements and resources are easily accessible.</div>
    </div>
    <div class="pm-divider"></div>
    <div class="pm-media">
      <img src="assets/images/screenshots/focus-view.png" alt="">
    </div>
  </div>
</div>

<div class="pm-section pm-section-odd pm-section-role-based">
  <div class="section-container">
    <div class="pm-body">
      <div class="pm-title">Set role based authorization for your team members</div>
      <div class="pm-subtitle">By setting role based authorization in your project, you can make sure everyone in your team will get just enough permissions to collaborate on your project.</div>
    </div>
    <div class="pm-divider"></div>
    <div class="pm-media">
      <img src="assets/images/screenshots/role-based.png" alt="">
    </div>
  </div>
</div>

<div class="pm-section pm-section-even pm-section-filter-sort">
  <div class="section-container">
    <div class="pm-body">
      <div class="pm-title">Filter and sort functionalities</div>
      <div class="pm-subtitle">Filter and sort projects and profiles based on activities, qualifications and collaborations.</div>
      <div class="action-container d-md-none d-sm-none">
        <button class="get-started-btn" (click)="signup()">Get Started</button>
      </div>
    </div>
    <div class="pm-divider"></div>
    <div class="pm-media">
      <img src="assets/images/screenshots/filter-and-sort.png" alt="">
    </div>
    <div class="action-container d-xl-none d-lg-none">
      <button class="get-started-btn" (click)="signup()">Get Started</button>
    </div>
  </div>
</div>
