<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content class="mat-typography">
  <div class="agreement-container">
    <mat-icon class="agreement-icon">check_circle</mat-icon>
    <div class="agreement-content">This app is created <strong>as a portfolio and for demonstration purposes.</strong> Its database can be reset at any point and if that happens <strong>you might lose all your data on this app without any notice.</strong></div>
  </div>
  <div class="agreement-container">
    <mat-icon class="agreement-icon">check_circle</mat-icon>
    <div class="agreement-content">This app will be using cookies.</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Accept</button>
</mat-dialog-actions>
