<div class="project-settings-list-container pl-8 pr-8 pt-24 pb-24 pl-sm-4 pr-sm-4">

  <mat-accordion>
    <mat-expansion-panel #projectImageUploadPanel class="list-headers-align">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Project image
          <mat-icon class="expansion-panel-title-meta">photo_size_select_large</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-tip-card tipIcon="info">
        Project image will be visible in the search pages as well.
      </app-tip-card>

      <mat-action-row>
        <div class="image-upload">
          <app-file-selection [acceptedFileTypes]="projectImageSpecification.acceptedFileTypes"
                           [acceptedFileSize]="projectImageSpecification.acceptedFileSize"
                           (fileSelected)="onFileSelected($event)">
            <ng-container *ngIf="{uploadProgress: uploadProgress$ | async} as context">
              <button mat-button color="primary" app-file-dialog-opener [disabled]="!!context.uploadProgress">
                    <span class="upload-button-container">
                      <mat-progress-spinner
                        class="button-spinner"
                        mode="determinate"
                        diameter="25"
                        [value]="context.uploadProgress"
                        *ngIf="context.uploadProgress">
                      </mat-progress-spinner>
                      <span class="button-text">
                        Change project image
                      </span>
                    </span>
              </button>
            </ng-container>
          </app-file-selection>
        </div>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="list-headers-align" *ngIf="canDeleteProject">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Delete project
          <mat-icon class="expansion-panel-title-meta">delete_outline</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-tip-card tipIcon="security">
        Deleting the project will also delete the members that you or your project admins have invited to work on the project.
        The tasks defined for this project will be removed and the project logo and the attachments uploaded for
        this project will be deleted.
      </app-tip-card>

      <mat-action-row>
        <button mat-button (click)="deleteProject()" color="warn">Delete project</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
