// badge
$badge-bg: #686868;

// custom form
$custom-form-description-field-bg: #f6f6f6;
$custom-form-editable-field-hover-bg: #e7e7e7;
$custom-form-module-border: #efefef;
$custom-form-module-shadow: #e7e7e7;

// custom expansions
$custom-expansions-box-shadow: #bbbbbb;

// tip card
$tip-card-bg: #3f51b512;
$tip-card-icon-color: #919191;

// footer
$footer-font-color: #b7b7b7;

// page
$page-bg: #f4f6f8;
$page-content-box-shadow: #cbcbcb;
$page-main-blue: #3f51b5;
