<mat-card class="entity-card" *ngIf="authService.user$ | async as user">
  <mat-card-header class="pl-8 pr-8">
    <img mat-card-avatar [src]="user.picture" alt="">
    <mat-card-title>New Profile</mat-card-title>
    <mat-card-subtitle>Introduce yourself. Describe your works. Start collaboration</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <app-profile-form (cancel)="cancel()"
                        (save)="save($event)">
    </app-profile-form>

  </mat-card-content>
</mat-card>
