@import "variables";

:host {
  height: 68px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-size: small;
  color: $footer-font-color;
  width: calc(100% - 30px);
  margin: auto;

  .footer-column {
    &.copyright {
      flex-basis: 30%;
    }

    &.footer-logo {
      text-align: center;
      img {
        width: 54px;
        opacity: 35%;
      }
    }

    &.info-widget {
      flex-basis: 30%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .about-link-button {
    color: #3f51b5;
    border: none;
    background: none;
    font-size: unset;
    cursor: pointer;
    padding: 0;
  }
}

.has-sticky-footer {
  :host {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
}
