<mat-divider></mat-divider>
<div class="container">
  <div class="footer-column copyright">
    <small>&copy; {{currentYear}} <button class="about-link-button" (click)="showAboutDialog()">HamidBehnam</button></small>
  </div>
  <div class="footer-column footer-logo">
    <img src="assets/images/color-based/blue/pmv-logo.svg" alt="">
  </div>
  <div class="footer-column info-widget">
    <app-info-widget></app-info-widget>
  </div>
  <div class="d-xl-none d-lg-none d-md-none d-sm-none">
    <a href="https://storyset.com/work">Work illustrations by Storyset</a>
  </div>
</div>
