.pm-scrollable-animation {
  img {
    width: 100%;
    max-width: 410px;
  }
}

.pm-scrollable-description {
  text-align: justify;
  padding: 20px 0;
}

.mat-dialog-actions {
  flex-direction: row-reverse;
}
