<h2 mat-dialog-title>Scrollable Tab Bar</h2>
<mat-dialog-content class="mat-typography">
  <div class="pm-scrollable-animation">
    <img src="assets/images/screenshots/scrollable-tabs.gif" alt="">
  </div>
  <div class="pm-scrollable-description">
    Scroll the tab bar to the left or right to see all the available sections. Depending on the access level and the device's screen size, not all pages have many tabs that requires scrollable tab bar.
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Ok, don't show again</button>
</mat-dialog-actions>
