<h2 mat-dialog-title>About</h2>
<mat-dialog-content class="mat-typography">
  <div class="pm-about-container">
    <div class="pm-about-description">PM is a demonstrative project management app to focus on different levels of software development process in the context of a demonstrative yet fully functional application. From MongoBD and authentication to REST APIs and role based authorizations, from Jenkins and CI/CD to Frontend and UI implementations. Tech stack: MongoDB, NodeJs, Express (RESTful API), Auth0, Typescript, Angular and Material design. Jenkins and Rundeck are utilized for continuous integration and deployment. Application is hosted on Google Cloud (Compute Engine).</div>
    <div class="pm-about-title">Designed and Implemented by Hamid Behnam.</div>
    <div>
      <a href="https://www.linkedin.com/in/hamidbehnam-usa/" target="_blank">LinkedIn</a>,
      <a href="https://github.com/HamidBehnam" target="_blank">GitHub</a>
    </div>
    <div class="pm-about-title">Project's source repositories:</div>
    <div>
      <a href="https://github.com/HamidBehnam/hamidev-nodejs-8324-src" target="_blank">Backend repo</a>,
      <a href="https://github.com/HamidBehnam/hamidev-angular-2393-src" target="_blank">Frontend repo</a>
    </div>
    <div class="pm-about-title">Project environments:</div>
    <div><a href="https://hamidbehnam.com/pm/" target="_blank">Production</a>,
      <a href="https://qa.hamidbehnam.com/pm/" target="_blank">QA</a>,
      <a href="https://dev.hamidbehnam.com/pm/" target="_blank">Development</a>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
