<h2 mat-dialog-title>About</h2>
<mat-dialog-content class="mat-typography">
  <div class="pm-about-container">
    <div class="pm-about-description">PMvite is a collaborative project management app in MVP development stage. PMvite's Role Based Authorization and the provided access levels let the project owners and admins to safely share the projects and tasks with their team members and contributors.</div>
    <div class="pm-about-title">Tech Stack</div>
    <div class="pm-about-description">MongoDB Atlas, Google Cloud Platform, NodeJs, Express (RESTful API), Auth0, Typescript, Angular and Material design. The following Google Cloud services are utilized for security and scalability purposes: Cloud Run, Cloud Storage, Cloud Secret Manager, Cloud Build.</div>
    <div class="pm-about-title">Designed and Implemented by Hamid Behnam.</div>
    <div>
      <a href="https://www.linkedin.com/in/hamidbehnam-usa/" target="_blank">LinkedIn</a>
    </div>
    <div class="pm-about-title">Project environments:</div>
    <div>
      <a href="https://pmvite.com" target="_blank">Production</a>,
      <a href="https://dev.pmvite.com" target="_blank">Development</a>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
