.pm-help-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pm-help-title {
  font-weight: bold;
}

.pm-help-content {
  text-align: justify;
}

.mat-dialog-actions {
  flex-direction: row-reverse;
}
